version: "3"

services:
  panda:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - PANDA_ENV=dev
      - PANDA_DATA_DIR_PATH=/panda/data
      - PANDA_DATABSE_NAME=panda.db
    volumes:
      - db_data:/panda/data
  test-panda:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - PANDA_ENV=dev
      - PANDA_DATA_DIR_PATH=/panda/data
      - PANDA_DATABSE_NAME=panda.db
    volumes:
      - db_test_data:/panda/data
    command: ["go", "test", "-v", "-tags", "fts5", "./..."]
volumes:
  db_data: {}
  db_test_data: {}